html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 75px 0;
    padding: 0px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #4aaaa5; 
    background-image: url("../images/dust_scratches.png");
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    min-height: 70px;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    color: #4aaaa5;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

h3 {
    margin: 0;
    font-size: 18px;
}

p {
    line-height: 2em;    
    margin: 10px;
}

hr {
    color: #d6d6d6;
    background-color: #d6d6d6;
    height: 4px;
    border: 0px;
}

nav {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-name {
    float: left;
    margin: 0px;
    padding: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.nav-block {
    float: left;
    padding-top: 20px;
}

nav ul li a {
    display: inline;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #af9ea4;
}

nav ul li a:hover {
    color: #5E7F7E;
}

.nav-last {
    padding-right: 0px;
}

.nav-section-break {
    color: #e5e5e5;
}

.content-container {
    max-width: 960px;
    margin: 20px auto 125px auto;
    padding: 0px;
    background-color: #ffffff;
    border: #dddddd solid 1px;
}

.main-content {
    padding: 20px;
}

.page-title {
    margin: 10px 0px 20px 0px;
}

#about-image {
    width: 300px;
    float: left;
    padding: 5px 10px 3px 0px;
}

.portfolio-container {
    width: 960px;
    display: block;
    list-style: none;
    padding: 0;
    margin: 30px 0px 10px 0px;
}

.portfolio-thumbnail {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.thumbnail {
    width: 300px;
    margin: 0 0 20px 0;
    padding: 0;
    position: relative;
}

.center-thumbnail {
    margin-left: 5px;
    margin-right: 5px;
}

.portfolio-image {
    width: 300px;
}

.portfolio-title {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 1.25em;
    background-color: #4aaaa5;
    padding: 15px 0px;
    text-decoration: none;
}

.portfolio-title:hover {
    background-color: #5E7F7E;
}

.contact-form {
    margin: 30px 0px 10px 0px;
}

.form-title {
    line-height: 1em;
    margin: 12px 0px 5px 0px;
}

input, textarea {
    width: 99%;
    padding: 5px 0 5px 5px;
}

input::placeholder {
    color: #af9ea4;
}

.contact-button {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px 0px 5px 0px;
    font-size: 12px;
    line-height: 14px;
    border-top:  #4aaaa5 solid 6px;
}

.copyright {
    margin: 0;
}